.note
{
     border-radius: 6px;
     background-color: #FFF9DE;
     border: solid 1px #f0d909;
     padding: 5px;
     margin: 10px;
     width: fit-content;
     max-width: 500px;
}
.tag-done-flex{
    display: flex;
    justify-content: flex-start;
    margin-top: 3%;
}
.done-item{
    margin-left: auto;
    margin-right: 5%;
    cursor: pointer;
    vertical-align: middle;
}
.circle {
    vertical-align: middle;
  }
  .centered-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }